body {
    margin: 0;
    text-align: center;
}

*{
    box-sizing: border-box;
}
/*color de fondo de navegacion*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0099ff;
}
/*espancion entre los botones*/
ul.topnav li {
    float: left;
    padding: 1px;
}


ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

}

ul.topnav li a:hover:not(.active) {background-color: #ffcc00;}

ul.topnav li a.active {background-color: lightgreen;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    
    
}

header {
    color: black;
    background-color:#0099ff;
    padding: 5px 5px;
    /*font-family: 'Bungee Shade', cursive;*/
    /*padding-bottom: 0px;
    padding-top: 0px;*/

}
footer {
	color: #0099ff;

}
iframe{
    display: right;
}
/*#sitio{
    color: red;*/
   
}

